.container {
  display: flex;
  margin-left: 10px;
}

/* что б его можно было выбрать он должен стоять внутри лейбла - display: block- тогда где хочу - там и кликаю в строке */

.label {
  display: block;
  margin-left: 25px;
}

.icon-checkbox {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  margin-right: 10px;
  vertical-align: middle;
}

.checkbox {
  appearance: none;
  position: absolute;
}
